nodered/data/etc/flows.json
[{"id":"ea8953c8.9d979","type":"tab","label":"Presence detections","disabled":false,"info":""},{"id":"27f4a783.3a8dc8","type":"tab","label":"Auto Lights","disabled":false,"info":""},{"id":"de9dda60.62f588","type":"tab","label":"Picture Frame","disabled":false,"info":""},{"id":"e594dd4a.60761","type":"tab","label":"RF Remotes","disabled":false,"info":""},{"id":"823d3fb7.65d29","type":"tab","label":"Routines","disabled":false,"info":""},{"id":"d1ff6abb.b25cf8","type":"tab","label":"Auto Off Timers","disabled":false,"info":""},{"id":"5a39eab2.9f6814","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"32add66e.5cfcaa","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.40","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"baaf931a.ba3de","type":"server-state-changed","z":"ea8953c8.9d979","name":"Ettienne home","server":"5a39eab2.9f6814","version":1,"entityidfilter":"device_tracker.ettienne_galaxy_s10","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":300,"wires":[["4f3eb1ca.3726a"],["bb96cff1.d82a5"]]},{"id":"4f3eb1ca.3726a","type":"api-call-service","z":"ea8953c8.9d979","name":"Ettienne Home","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.ettienne_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":300,"wires":[[]]},{"id":"bb96cff1.d82a5","type":"api-call-service","z":"ea8953c8.9d979","name":"Ettienne Away","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.ettienne_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":360,"wires":[[]]},{"id":"b4c7b4ac.851d38","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Laundry Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_laundry_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":500,"y":320,"wires":[["f41541aa.8d4ff"],["73950d0b.f9b674"]]},{"id":"f41541aa.8d4ff","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_laundry1,light.lifx_laundry2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":260,"wires":[[]]},{"id":"73950d0b.f9b674","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_laundry1,light.lifx_laundry2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":340,"wires":[[]]},{"id":"d6ad6114.eb34d","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Pantry Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":510,"y":560,"wires":[["1f2d5974.8e5757"],["bce86ceb.13782"]]},{"id":"1f2d5974.8e5757","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Pantry Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":500,"wires":[[]]},{"id":"bce86ceb.13782","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Pantry Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":620,"wires":[[]]},{"id":"968e92c3.24fe3","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Garage Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"sensor.door_window_sensor_garage_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"255","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":510,"y":740,"wires":[["c136fd73.7bfcb"],["a65b05ba.dfa598"]]},{"id":"c136fd73.7bfcb","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Garage Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_garage\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":680,"wires":[[]]},{"id":"cce65336.ef488","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Garage Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_garage\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2100,"y":780,"wires":[[]]},{"id":"4fade16e.dc7e5","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Garage Panel Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_garagepaneldoor_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":530,"y":808,"wires":[["c136fd73.7bfcb"],["a521d80f.f0a7a8"]]},{"id":"a00c283f.0f9d78","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Stairs Closet Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"sensor.door_window_sensor_stairs_closet_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"255","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":530,"y":940,"wires":[["34c203d3.d5c28c"],["7d4b071f.6e5798"]]},{"id":"7d4b071f.6e5798","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Cupboard Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_stairs_closet\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":940,"wires":[[]]},{"id":"34c203d3.d5c28c","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Cupboard Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_stairs_closet\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":880,"wires":[[]]},{"id":"5a24c417.69153c","type":"function","z":"27f4a783.3a8dc8","name":"Delay for 60 seconds","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 60000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":1400,"y":780,"wires":[["3076db1c.367fb4"]]},{"id":"39cc3eac.aed042","type":"server-state-changed","z":"de9dda60.62f588","name":"Movement Detected","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.multisensor_dining_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":380,"y":240,"wires":[["6e01e350.2107ac"],[]]},{"id":"6e01e350.2107ac","type":"api-call-service","z":"de9dda60.62f588","name":"Turn screen on","server":"5a39eab2.9f6814","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"photo_frame/screen_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":240,"wires":[[]]},{"id":"1e296f2b.910771","type":"inject","z":"de9dda60.62f588","name":"Manual Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":400,"wires":[["728609bc.a22d78"]]},{"id":"728609bc.a22d78","type":"api-call-service","z":"de9dda60.62f588","name":"Turn screen off","server":"5a39eab2.9f6814","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"photo_frame/screen_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":440,"wires":[[]]},{"id":"fe0d5b58.805fb8","type":"inject","z":"de9dda60.62f588","name":"Manual On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":180,"wires":[["6e01e350.2107ac"]]},{"id":"5b41d4a3.7656cc","type":"poll-state","z":"de9dda60.62f588","name":"No movement for x seconds","server":"5a39eab2.9f6814","version":1,"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"binary_sensor.multisensor_dining_motion","state_type":"str","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":320,"y":460,"wires":[["728609bc.a22d78"],[]]},{"id":"b7d0ae54.64a9b","type":"mqtt in","z":"e594dd4a.60761","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"json","broker":"32add66e.5cfcaa","x":400,"y":400,"wires":[["b6d0bb9c.36b058","2d996532.f7217a","316bd61.4edd52a","6ff0af5a.4036a","93ae2105.cb04b","1bfd3825.1395b8","c98b1fb2.2ddd5","82de8215.98dff","dac700f1.84a69","5d6242a8.bd6e0c","c4997e2b.e67ca","913f472d.b8fe48","f99a6463.ac20e8","79e20253.d1af0c","4cd028b4.97df38"]]},{"id":"b6d0bb9c.36b058","type":"switch","z":"e594dd4a.60761","name":"Bauhn 1 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349147087","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":280,"wires":[["26c4c83b.04b018"]]},{"id":"2d996532.f7217a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 1 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349145024","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":318,"wires":[["9411307d.55462"]]},{"id":"6ff0af5a.4036a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 2 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144004","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":419,"wires":[["d890ecf2.839e2"]]},{"id":"316bd61.4edd52a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 2 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146056","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":380,"wires":[["d2ca8cd8.7b513"]]},{"id":"1bfd3825.1395b8","type":"switch","z":"e594dd4a.60761","name":"Bauhn 3 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":524,"wires":[["184a2225.0843fe"]]},{"id":"93ae2105.cb04b","type":"switch","z":"e594dd4a.60761","name":"Bauhn 3 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146572","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":482,"wires":[["d872b8f.0239348"]]},{"id":"82de8215.98dff","type":"switch","z":"e594dd4a.60761","name":"Bauhn 4 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144769","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":615,"wires":[["62fc52ee.ffa6ec"]]},{"id":"c98b1fb2.2ddd5","type":"switch","z":"e594dd4a.60761","name":"Bauhn 4 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146830","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":577,"wires":[["47588451.003c9c"]]},{"id":"5d6242a8.bd6e0c","type":"switch","z":"e594dd4a.60761","name":"DRC 1 B","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599028","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":727,"y":705,"wires":[["184a2225.0843fe"]]},{"id":"dac700f1.84a69","type":"switch","z":"e594dd4a.60761","name":"DRC 1 A","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599032","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":727,"y":667,"wires":[["d872b8f.0239348"]]},{"id":"913f472d.b8fe48","type":"switch","z":"e594dd4a.60761","name":"DRC 1 D","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599025","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":725,"y":781,"wires":[["62fc52ee.ffa6ec"]]},{"id":"c4997e2b.e67ca","type":"switch","z":"e594dd4a.60761","name":"DRC 1 C","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599026","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":725,"y":743,"wires":[["47588451.003c9c"]]},{"id":"f99a6463.ac20e8","type":"switch","z":"e594dd4a.60761","name":"DRC 2 D","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402353","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":752,"y":215,"wires":[[]]},{"id":"79e20253.d1af0c","type":"switch","z":"e594dd4a.60761","name":"DRC 2 C","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402354","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":752,"y":170,"wires":[[]]},{"id":"4cd028b4.97df38","type":"switch","z":"e594dd4a.60761","name":"DRC 2 A","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402360","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":754,"y":99,"wires":[["9536708a.0229"]]},{"id":"9411307d.55462","type":"api-call-service","z":"e594dd4a.60761","name":"Study Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_study\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":320,"wires":[[]]},{"id":"26c4c83b.04b018","type":"api-call-service","z":"e594dd4a.60761","name":"Study Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_study\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":280,"wires":[[]]},{"id":"d890ecf2.839e2","type":"api-call-service","z":"e594dd4a.60761","name":"Foyer Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":420,"wires":[[]]},{"id":"d2ca8cd8.7b513","type":"api-call-service","z":"e594dd4a.60761","name":"Foyer Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":380,"wires":[[]]},{"id":"184a2225.0843fe","type":"api-call-service","z":"e594dd4a.60761","name":"Rumpus Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":520,"wires":[[]]},{"id":"d872b8f.0239348","type":"api-call-service","z":"e594dd4a.60761","name":"Rumpus Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":480,"wires":[[]]},{"id":"62fc52ee.ffa6ec","type":"api-call-service","z":"e594dd4a.60761","name":"Discreet Light Off","server":"5a39eab2.9f6814","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.tp_link_2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":611,"wires":[[]]},{"id":"47588451.003c9c","type":"api-call-service","z":"e594dd4a.60761","name":"Discreet Light On","server":"5a39eab2.9f6814","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.tp_link_2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":571,"wires":[[]]},{"id":"a521d80f.f0a7a8","type":"api-current-state","z":"27f4a783.3a8dc8","name":"Garage door open","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"255","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.door_window_sensor_garage_open","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":808,"wires":[[],["5a24c417.69153c"]]},{"id":"a65b05ba.dfa598","type":"api-current-state","z":"27f4a783.3a8dc8","name":"Garage Panel Door Open","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.door_window_sensor_garagepaneldoor_open","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":740,"wires":[[],["5a24c417.69153c"]]},{"id":"92f55ef6.8a92f","type":"server-state-changed","z":"ea8953c8.9d979","name":"Kelly home","server":"5a39eab2.9f6814","version":1,"entityidfilter":"device_tracker.kelly_iphone_xr","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":420,"wires":[["6fa0a667.d562c8"],["bcd0268f.0fc1c8"]]},{"id":"6fa0a667.d562c8","type":"api-call-service","z":"ea8953c8.9d979","name":"Kelly Home","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.kelly_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":420,"wires":[[]]},{"id":"bcd0268f.0fc1c8","type":"api-call-service","z":"ea8953c8.9d979","name":"Kelly Away","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.kelly_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":480,"wires":[[]]},{"id":"83878fb4.30705","type":"server-state-changed","z":"ea8953c8.9d979","name":"Ettienne Home Person","server":"5a39eab2.9f6814","version":1,"entityidfilter":"person.ettienne","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":640,"wires":[["304decee.e9de34"],["e94f744f.4dda88"]]},{"id":"870bbf61.c8505","type":"server-state-changed","z":"ea8953c8.9d979","name":"Kelly Home Person","server":"5a39eab2.9f6814","version":1,"entityidfilter":"person.kelly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":780,"wires":[["304decee.e9de34"],["3e47820d.382fce"]]},{"id":"e94f744f.4dda88","type":"api-current-state","z":"ea8953c8.9d979","name":"Kelly Home Person","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.kelly","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":640,"wires":[[],["7c3069d6.6ff938"]]},{"id":"3e47820d.382fce","type":"api-current-state","z":"ea8953c8.9d979","name":"Ettienne Home Person","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.ettienne","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":780,"wires":[[],["7c3069d6.6ff938"]]},{"id":"7c3069d6.6ff938","type":"api-current-state","z":"ea8953c8.9d979","name":"House Guests","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":720,"wires":[[],["cc1ec8c7.424ea8"]]},{"id":"304decee.e9de34","type":"api-call-service","z":"ea8953c8.9d979","name":"Home Occupied","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":720,"wires":[[]]},{"id":"cc1ec8c7.424ea8","type":"api-call-service","z":"ea8953c8.9d979","name":"Home Not Occupied","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":720,"wires":[[]]},{"id":"3076db1c.367fb4","type":"api-current-state","z":"27f4a783.3a8dc8","name":"Garage Panel Door Open","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.door_window_sensor_garagepaneldoor_open","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1650,"y":780,"wires":[[],["d4367342.3e3"]]},{"id":"d4367342.3e3","type":"api-current-state","z":"27f4a783.3a8dc8","name":"Garage door open","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"255","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.door_window_sensor_garage_open","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1890,"y":780,"wires":[[],["cce65336.ef488"]]},{"id":"436b37d3.8df3a8","type":"comment","z":"27f4a783.3a8dc8","name":"Need to check again after the 60 seconds","info":"Someone may have closed themselves in the garage \nthen opened a door when the countdown has started.","x":1800,"y":740,"wires":[]},{"id":"d8d24cdb.afcbb","type":"server-state-changed","z":"823d3fb7.65d29","name":"Bedtime Routine On","server":"5a39eab2.9f6814","version":1,"entityidfilter":"input_boolean.bedtime_routine","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":330,"y":240,"wires":[["8dafb27f.9a5ad"],[]]},{"id":"189d208.b2775e","type":"function","z":"823d3fb7.65d29","name":"Delay for 7 seconds","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 7000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["93336d4d.51ae"]]},{"id":"8dafb27f.9a5ad","type":"api-call-service","z":"823d3fb7.65d29","name":"Foyer Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\",\"brightness\":255}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":240,"wires":[["be1f3d34.c33ea"]]},{"id":"be1f3d34.c33ea","type":"api-call-service","z":"823d3fb7.65d29","name":"Rumpus Light On Bright","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\",\"brightness\":255}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":300,"wires":[["bb2d5d27.d3def"]]},{"id":"93336d4d.51ae","type":"api-call-service","z":"823d3fb7.65d29","name":"Study Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_study\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":500,"wires":[["20b6d11f.65169e"]]},{"id":"bb2d5d27.d3def","type":"api-call-service","z":"823d3fb7.65d29","name":"Discreet Light On","server":"5a39eab2.9f6814","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.tp_link_2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":380,"wires":[["189d208.b2775e"]]},{"id":"20b6d11f.65169e","type":"function","z":"823d3fb7.65d29","name":"Delay for 30 seconds","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 30000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":560,"y":560,"wires":[["490d7d63.a018a4"]]},{"id":"490d7d63.a018a4","type":"api-call-service","z":"823d3fb7.65d29","name":"Rumpus Light Dim","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\",\"brightness\":39}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":620,"wires":[["e4bdb125.3177b"]]},{"id":"e4bdb125.3177b","type":"api-call-service","z":"823d3fb7.65d29","name":"Foyer Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":680,"wires":[["2a15af20.7e3b1"]]},{"id":"2a15af20.7e3b1","type":"function","z":"823d3fb7.65d29","name":"Delay for 5 min","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 300000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["4121cd0e.eea244"]]},{"id":"4121cd0e.eea244","type":"api-call-service","z":"823d3fb7.65d29","name":"Discreet Light Off","server":"5a39eab2.9f6814","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.tp_link_2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":800,"wires":[["fb2454a3.a9a9f8"]]},{"id":"fb2454a3.a9a9f8","type":"api-call-service","z":"823d3fb7.65d29","name":"Bedtime routine off","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.bedtime_routine\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":860,"wires":[[]]},{"id":"65c5c2d0.a444bc","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Rumpus Motion Detected","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.multisensor_kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":510,"y":1020,"wires":[["701dee05.ff29d"],[]]},{"id":"fb1e97de.927248","type":"api-call-service","z":"27f4a783.3a8dc8","name":"Rumpus Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\",\"brightness\":255}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":1020,"wires":[[]]},{"id":"701dee05.ff29d","type":"api-current-state","z":"27f4a783.3a8dc8","name":"Sun Below Horizon","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":1020,"wires":[["fb1e97de.927248"],[]]},{"id":"eeca311a.74d49","type":"api-call-service","z":"e594dd4a.60761","name":"Onkyo On","server":"5a39eab2.9f6814","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.onkyo_amplifier\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":119,"wires":[["addba5d6.e398e8"]]},{"id":"9536708a.0229","type":"api-current-state","z":"e594dd4a.60761","name":"AV On?","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sonoff_belle","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1080,"y":100,"wires":[[],[]]},{"id":"c4f0ad26.56a2d","type":"api-call-service","z":"e594dd4a.60761","name":"Onkyo Off","server":"5a39eab2.9f6814","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.onkyo_amplifier\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":79,"wires":[["57a0d299.4f09dc"]]},{"id":"c1cd7c91.a193e","type":"api-call-service","z":"e594dd4a.60761","name":"Onkyo Volume Up","server":"5a39eab2.9f6814","service_domain":"media_player","service":"volume_up","data":"{\"entity_id\":\"media_player.onkyo_amplifier\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":170,"wires":[[]]},{"id":"6865f91d.7b7c98","type":"api-call-service","z":"e594dd4a.60761","name":"Onkyo Volume Up","server":"5a39eab2.9f6814","service_domain":"media_player","service":"volume_down","data":"{\"entity_id\":\"media_player.onkyo_amplifier\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":215,"wires":[[]]},{"id":"57a0d299.4f09dc","type":"api-call-service","z":"e594dd4a.60761","name":"AV Equipement Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.sonoff_belle\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":80,"wires":[[]]},{"id":"addba5d6.e398e8","type":"api-call-service","z":"e594dd4a.60761","name":"AV Equipement On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.sonoff_belle\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":120,"wires":[[]]},{"id":"3cb5afe9.edf3e","type":"server-state-changed","z":"d1ff6abb.b25cf8","name":"Coffee Machine Goes On","server":"5a39eab2.9f6814","version":1,"entityidfilter":"switch.tp_link_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":160,"wires":[["b0a16e86.4cd0b"],["ceea0162.48265"]]},{"id":"ceea0162.48265","type":"change","z":"d1ff6abb.b25cf8","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["b0a16e86.4cd0b"]]},{"id":"b0a16e86.4cd0b","type":"delay","z":"d1ff6abb.b25cf8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":160,"wires":[["9f058f3c.94a77"]]},{"id":"b1bd37a0.3b11a8","type":"inject","z":"d1ff6abb.b25cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":40,"wires":[[]]},{"id":"9f058f3c.94a77","type":"api-call-service","z":"d1ff6abb.b25cf8","name":"Ettienne Push Notification","server":"5a39eab2.9f6814","service_domain":"notify","service":"ettienne_galaxy","data":"{\"title\":\"Home Assistant\",\"message\":\"Coffee machine is still on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":160,"wires":[["6c9fe279.153e8c"]]},{"id":"aac1125.91b50f","type":"api-call-service","z":"d1ff6abb.b25cf8","name":"TTS Announce","server":"5a39eab2.9f6814","service_domain":"tts","service":"google_translate_say","data":"{\"entity_id\":\"media_player.kitchen_speaker\",\"message\":\"Did you forget the coffee machine on?\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":40,"wires":[[]]},{"id":"6c9fe279.153e8c","type":"api-call-service","z":"d1ff6abb.b25cf8","name":"Turn off Coffee Machine","server":"5a39eab2.9f6814","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.tp_link_1\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":160,"wires":[[]]},{"id":"e66409e2.c9bf78","type":"server-state-changed","z":"d1ff6abb.b25cf8","name":"Laundry Door Is Opened","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_laundry_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":320,"wires":[["141578a2.87ba77"],["3bed9d35.cb1332"]]},{"id":"3bed9d35.cb1332","type":"change","z":"d1ff6abb.b25cf8","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["141578a2.87ba77"]]},{"id":"141578a2.87ba77","type":"delay","z":"d1ff6abb.b25cf8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":320,"wires":[["bf9ac0e.6d0b94"]]},{"id":"bf9ac0e.6d0b94","type":"api-call-service","z":"d1ff6abb.b25cf8","name":"Turn off Laundry Lights","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_laundry1,light.lifx_laundry2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":320,"wires":[[]]},{"id":"cae8ddf9.bcbcf","type":"poll-state","z":"d1ff6abb.b25cf8","name":"No movement for x seconds","server":"5a39eab2.9f6814","version":1,"updateinterval":"360","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"binary_sensor.multisensor_kitchen_motion","state_type":"str","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":200,"y":480,"wires":[[],[]]},{"id":"b3054701.457a88","type":"api-current-state","z":"d1ff6abb.b25cf8","name":"Sun Below Horizon","server":"5a39eab2.9f6814","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":480,"wires":[[],[]]},{"id":"f7046b1d.dc9608","type":"api-call-service","z":"d1ff6abb.b25cf8","name":"Rumpus Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":560,"wires":[[]]},{"id":"5be47266.2c650c","type":"server-state-changed","z":"d1ff6abb.b25cf8","name":"Rumpus Movement Detected","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.multisensor_kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":560,"wires":[["f3a11cc5.ab7ba"],["f3a11cc5.ab7ba"]]},{"id":"f3a11cc5.ab7ba","type":"trigger","z":"d1ff6abb.b25cf8","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"min","reset":"on","bytopic":"all","name":"3 Minutes No Movement","x":510,"y":560,"wires":[["f7046b1d.dc9608"]]}]