nodered/data/etc/flows.json
[{"id":"ea8953c8.9d979","type":"tab","label":"Presence detections","disabled":false,"info":""},{"id":"27f4a783.3a8dc8","type":"tab","label":"Auto Lights","disabled":false,"info":""},{"id":"de9dda60.62f588","type":"tab","label":"Picture Frame","disabled":false,"info":""},{"id":"e594dd4a.60761","type":"tab","label":"RF Remotes","disabled":false,"info":""},{"id":"5a39eab2.9f6814","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"32add66e.5cfcaa","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.40","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"baaf931a.ba3de","type":"server-state-changed","z":"ea8953c8.9d979","name":"Ettienne gets home","server":"5a39eab2.9f6814","version":1,"entityidfilter":"device_tracker.ettienne_galaxy_s10","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":840,"wires":[["4f3eb1ca.3726a"],["bb96cff1.d82a5"]]},{"id":"4f3eb1ca.3726a","type":"api-call-service","z":"ea8953c8.9d979","name":"","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.ettienne_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":840,"wires":[[]]},{"id":"bb96cff1.d82a5","type":"api-call-service","z":"ea8953c8.9d979","name":"","server":"5a39eab2.9f6814","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.ettienne_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":900,"wires":[[]]},{"id":"b4c7b4ac.851d38","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Laundry Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_laundry_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":500,"y":320,"wires":[["f41541aa.8d4ff"],["73950d0b.f9b674"]]},{"id":"f41541aa.8d4ff","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_laundry1,light.lifx_laundry2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":260,"wires":[[]]},{"id":"73950d0b.f9b674","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_laundry1,light.lifx_laundry2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":380,"wires":[[]]},{"id":"d6ad6114.eb34d","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Pantry Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":510,"y":560,"wires":[["1f2d5974.8e5757"],["bce86ceb.13782"]]},{"id":"1f2d5974.8e5757","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":500,"wires":[[]]},{"id":"bce86ceb.13782","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":620,"wires":[[]]},{"id":"968e92c3.24fe3","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Garage Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"sensor.door_window_sensor_garage_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"255","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":510,"y":740,"wires":[["c136fd73.7bfcb"],["5a24c417.69153c"]]},{"id":"c136fd73.7bfcb","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_garage\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":680,"wires":[[]]},{"id":"cce65336.ef488","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_garage\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":800,"wires":[[]]},{"id":"4fade16e.dc7e5","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Garage Panel Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.door_window_sensor_garagepaneldoor_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":530,"y":820,"wires":[["c136fd73.7bfcb"],["cce65336.ef488"]]},{"id":"a00c283f.0f9d78","type":"server-state-changed","z":"27f4a783.3a8dc8","name":"Stairs Closet Door Open/Close","server":"5a39eab2.9f6814","version":1,"entityidfilter":"sensor.door_window_sensor_stairs_closet_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"255","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":530,"y":940,"wires":[["34c203d3.d5c28c"],["7d4b071f.6e5798"]]},{"id":"7d4b071f.6e5798","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_stairs_closet\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":1000,"wires":[[]]},{"id":"34c203d3.d5c28c","type":"api-call-service","z":"27f4a783.3a8dc8","name":"","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_stairs_closet\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":880,"wires":[[]]},{"id":"5a24c417.69153c","type":"function","z":"27f4a783.3a8dc8","name":"Delay for 30 seconds","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 30000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"x":820,"y":760,"wires":[["cce65336.ef488"]]},{"id":"39cc3eac.aed042","type":"server-state-changed","z":"de9dda60.62f588","name":"Movement Detected","server":"5a39eab2.9f6814","version":1,"entityidfilter":"binary_sensor.multisensor_dining_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":380,"y":240,"wires":[["6e01e350.2107ac"],[]]},{"id":"6e01e350.2107ac","type":"api-call-service","z":"de9dda60.62f588","name":"Turn screen on","server":"5a39eab2.9f6814","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"photo_frame/screen_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":240,"wires":[[]]},{"id":"1e296f2b.910771","type":"inject","z":"de9dda60.62f588","name":"Manual Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":400,"wires":[["728609bc.a22d78"]]},{"id":"728609bc.a22d78","type":"api-call-service","z":"de9dda60.62f588","name":"Turn screen off","server":"5a39eab2.9f6814","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"photo_frame/screen_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":440,"wires":[[]]},{"id":"fe0d5b58.805fb8","type":"inject","z":"de9dda60.62f588","name":"Manual On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":180,"wires":[["6e01e350.2107ac"]]},{"id":"5b41d4a3.7656cc","type":"poll-state","z":"de9dda60.62f588","name":"No movement for x seconds","server":"5a39eab2.9f6814","version":1,"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"binary_sensor.multisensor_dining_motion","state_type":"str","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":320,"y":460,"wires":[["728609bc.a22d78"],[]]},{"id":"b7d0ae54.64a9b","type":"mqtt in","z":"e594dd4a.60761","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"json","broker":"32add66e.5cfcaa","x":400,"y":400,"wires":[["b6d0bb9c.36b058","2d996532.f7217a","316bd61.4edd52a","6ff0af5a.4036a","93ae2105.cb04b","1bfd3825.1395b8","c98b1fb2.2ddd5","82de8215.98dff","dac700f1.84a69","5d6242a8.bd6e0c","c4997e2b.e67ca","913f472d.b8fe48"]]},{"id":"b6d0bb9c.36b058","type":"switch","z":"e594dd4a.60761","name":"Bauhn 1 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349147087","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":280,"wires":[["26c4c83b.04b018"]]},{"id":"2d996532.f7217a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 1 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349145024","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":318,"wires":[["9411307d.55462"]]},{"id":"6ff0af5a.4036a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 2 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144004","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":419,"wires":[["d890ecf2.839e2"]]},{"id":"316bd61.4edd52a","type":"switch","z":"e594dd4a.60761","name":"Bauhn 2 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146056","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":380,"wires":[["d2ca8cd8.7b513"]]},{"id":"1bfd3825.1395b8","type":"switch","z":"e594dd4a.60761","name":"Bauhn 3 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":524,"wires":[["184a2225.0843fe"]]},{"id":"93ae2105.cb04b","type":"switch","z":"e594dd4a.60761","name":"Bauhn 3 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146572","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":482,"wires":[["d872b8f.0239348"]]},{"id":"82de8215.98dff","type":"switch","z":"e594dd4a.60761","name":"Bauhn 4 Red","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349144769","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":615,"wires":[["62fc52ee.ffa6ec"]]},{"id":"c98b1fb2.2ddd5","type":"switch","z":"e594dd4a.60761","name":"Bauhn 4 Green","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"349146830","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":577,"wires":[["47588451.003c9c"]]},{"id":"5d6242a8.bd6e0c","type":"switch","z":"e594dd4a.60761","name":"DRC 1 B","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599028","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":727,"y":705,"wires":[["184a2225.0843fe"]]},{"id":"dac700f1.84a69","type":"switch","z":"e594dd4a.60761","name":"DRC 1 A","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599032","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":727,"y":667,"wires":[["d872b8f.0239348"]]},{"id":"913f472d.b8fe48","type":"switch","z":"e594dd4a.60761","name":"DRC 1 D","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599025","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":725,"y":781,"wires":[["62fc52ee.ffa6ec"]]},{"id":"c4997e2b.e67ca","type":"switch","z":"e594dd4a.60761","name":"DRC 1 C","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"2599026","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":725,"y":743,"wires":[["47588451.003c9c"]]},{"id":"f99a6463.ac20e8","type":"switch","z":"e594dd4a.60761","name":"DRC 2 D","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402353","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":913,"wires":[[]]},{"id":"79e20253.d1af0c","type":"switch","z":"e594dd4a.60761","name":"DRC 2 C","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402354","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":875,"wires":[[]]},{"id":"4cd028b4.97df38","type":"switch","z":"e594dd4a.60761","name":"DRC 2 A","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"6402360","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":722,"y":838,"wires":[[]]},{"id":"9411307d.55462","type":"api-call-service","z":"e594dd4a.60761","name":"Study Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lifx_study\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":320,"wires":[[]]},{"id":"26c4c83b.04b018","type":"api-call-service","z":"e594dd4a.60761","name":"Study Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lifx_study\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":280,"wires":[[]]},{"id":"d890ecf2.839e2","type":"api-call-service","z":"e594dd4a.60761","name":"Foyer Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":420,"wires":[[]]},{"id":"d2ca8cd8.7b513","type":"api-call-service","z":"e594dd4a.60761","name":"Foyer Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_foyer_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":380,"wires":[[]]},{"id":"184a2225.0843fe","type":"api-call-service","z":"e594dd4a.60761","name":"Rumpus Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":520,"wires":[[]]},{"id":"d872b8f.0239348","type":"api-call-service","z":"e594dd4a.60761","name":"Rumpus Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.dimmer_rumpus_light_level\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":480,"wires":[[]]},{"id":"62fc52ee.ffa6ec","type":"api-call-service","z":"e594dd4a.60761","name":"Discreet Light Off","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.sonoff\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":611,"wires":[[]]},{"id":"47588451.003c9c","type":"api-call-service","z":"e594dd4a.60761","name":"Discreet Light On","server":"5a39eab2.9f6814","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.sonoff\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":571,"wires":[[]]}]